{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Title</title>
</head>
<body>
    <h1>Location: {{ building.planet.planet_name }} ({{ building.get_building_location_display }})</h1>

    <p>
        [ metal:
        <span
            {% if metal.reached_max_capacity %}
            class="capacity_exceeded"
            {% else %}
            class="capacity_not_exceeded"
            {% endif %}>
            {{ metal.amount|add:metal.accumulated }}
        </span>
        ({{ metal.production_speed }}) ]
        [ crystal:
        <span
            {% if crystal.reached_max_capacity %}
            class="capacity_exceeded"
            {% else %}
            class="capacity_not_exceeded"
            {% endif %}>
            {{ crystal.amount|add:crystal.accumulated }}
        </span>
        ({{ crystal.production_speed }}) ]
        [ deuter:
        <span
            {% if deuter.reached_max_capacity %}
            class="capacity_exceeded"
            {% else %}
            class="capacity_not_exceeded"
            {% endif %}>
            {{ deuter.amount|add:deuter.accumulated }}
        </span>
        ({{ deuter.production_speed }}) ]
    </p>

    <h3>First building</h3>
    <img src="{{ building.building.image.url }}" alt="" class="src">
    <ul>
        <li>Building: {{ building.id }}. {{ building.building.name }}</li>
        <li>Owner: {{ building.planet.owner }}</li>
        <li>
            Mine lvl: {{ building.current_level }}
{#            {% if building.is_upgrading and building.upgrade_ends_at > now %}#}
                <p>
                    <span style="font-weight: 700;">(Upgrading)</span>
                    <span id="timer" data-datetime="{{ upgrade_ends_at }}"></span>
                </p>
{#            {% elif building.is_upgrading and building.upgrade_ends_at <= now %}#}
{#                <p>#}
{#                    <span style="font-weight: 700;">(Upgrading)</span>#}
{#                    <span id="timer" data-datetime={{ upgrade_ends_at }}></span>#}
{#                </p>#}
{#            {% endif %}#}
        </li>
    </ul>

    <button>Upgrade</button>
    <button>Downgrade</button>

    <!-- jQuery CDN -->
    <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>

    <script src="{% static 'js/timer.js' %}"></script>
</body>
</html>