{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Title</title>
</head>
<body>
    <h1>
        Location: {{ building.planet.planet_name }} ({{ building.get_building_location_display }})
    </h1>
    <p>
        Planet's surface: {{ building.planet.surface }}/{{ building.planet.free_surface }}
    </p>

    <p>
        [ metal:
        <span
            {% if metal.reached_max_capacity %}
            class="capacity_exceeded"
            {% else %}
            class="capacity_not_exceeded"
            {% endif %}>
            {{ metal.amount|add:metal.accumulated }}
        </span>
        ({{ metal.production_speed }}) ]
        [ crystal:
        <span
            {% if crystal.reached_max_capacity %}
            class="capacity_exceeded"
            {% else %}
            class="capacity_not_exceeded"
            {% endif %}>
            {{ crystal.amount|add:crystal.accumulated }}
        </span>
        ({{ crystal.production_speed }}) ]
        [ deuter:
        <span
            {% if deuter.reached_max_capacity %}
            class="capacity_exceeded"
            {% else %}
            class="capacity_not_exceeded"
            {% endif %}>
            {{ deuterium.amount|add:deuterium.accumulated }}
        </span>
        ({{ deuterium.production_speed }}) ]
    </p>

    <h3>First building</h3>
    <img src="{{ building.building.image.url }}" alt="" class="src">
    <ul>
        <li>Building: {{ building.id }}. {{ building.building.name }}</li>
        <li>Owner: {{ building.planet.owner }}</li>
        <li>
            <p>
                Mine lvl: {{ building.current_level }}
            </p>

            <span id="timer"
                  data-upgrade-started-at="{{ upgrade_started_at }}"
                  data-upgrade-ends-at="{{ upgrade_ends_at }}"
                  data-upgraded-percent="{{ upgraded_percent }}">
            </span>

            {% if building.is_upgrading %}
            <p>
                <span style="font-weight: 700;">(Upgrading) </span>
                <span id="foo"></span>
            </p>

            <div class="progress" style="width: 200px; height: 15px;">
              <div id="dynamic-progress-bar" class="progress-bar"
                   role="progressbar"
                   style="width: 0%;"
                   aria-valuenow="0"
                   aria-valuemin="0"
                   aria-valuemax="100">
                  0%
              </div>
            </div>
            {% endif %}
        </li>
    </ul>

    {% if building.is_upgrading %}
    <button>Cancel upgrade</button>
    {% else %}
    <button>Upgrade</button>
    <button>Downgrade</button>
    {% endif %}

    <!-- jQuery CDN -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <script src="{% static 'js/timer.js' %}"></script>
</body>
</html>